__One-hot encoding to handle categorical values__

In [1]:
from pandas import read_csv
import pandas as pd


data_train = read_csv("../../data/data_train_clean_ratings_included.csv")

In [2]:
# Let's look at the categorical columns

data_train.dtypes

#data_train.head(5)

Is Superhost              object
neighbourhood             object
Neighborhood Group        object
Latitude                 float64
Longitude                float64
Property Type             object
Room Type                 object
Accomodates               object
Bathrooms                 object
Bedrooms                  object
Beds                      object
Guests Included           object
Min Nights                object
Reviews                    int64
Overall Rating           float64
Accuracy Rating          float64
Cleanliness Rating       float64
Checkin Rating           float64
Communication Rating     float64
Location Rating          float64
Value Rating             float64
Instant Bookable          object
Business Travel Ready     object
Price                    float64
dtype: object

Actually, the following columns are object but should be floats, let's convert them:
Accomodates, Bathrooms,

In [3]:
list_columns_categ = list(data_train.select_dtypes(['object']).columns)

print(list_columns_categ)

['Is Superhost', 'neighbourhood', 'Neighborhood Group', 'Property Type', 'Room Type', 'Accomodates', 'Bathrooms', 'Bedrooms', 'Beds', 'Guests Included', 'Min Nights', 'Instant Bookable', 'Business Travel Ready']

In [4]:
# for column in list_columns_categ:
#     print(data_train[column])


columns_to_convert = ["Accomodates", "Bathrooms", "Bedrooms", "Beds", "Guests Included", "Min Nights"]

for column in columns_to_convert:
    # data_train.astype({column: 'float64'})
    print(data_train[column])

print(data_train["Accomodates"].astype(float))

0        2
1        2
2        3
3        2
4        3
        ..
12691    1
12692    2
12693    2
12694    8
12695    4
Name: Accomodates, Length: 12696, dtype: object
0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
12691    1.0
12692    1.0
12693    1.5
12694    2.0
12695    1.0
Name: Bathrooms, Length: 12696, dtype: object
0        1.0
1        2.0
2        1.0
3        1.0
4        1.0
        ...
12691    1.0
12692    1.0
12693    1.0
12694    3.0
12695    1.0
Name: Bedrooms, Length: 12696, dtype: object
0        1.0
1        2.0
2        2.0
3        1.0
4        2.0
        ...
12691    1.0
12692    1.0
12693    1.0
12694    5.0
12695    2.0
Name: Beds, Length: 12696, dtype: object
0        1
1        2
2        1
3        1
4        2
        ..
12691    1
12692    1
12693    1
12694    1
12695    2
Name: Guests Included, Length: 12696, dtype: object
0        2
1        7
2        1
3        2
4        1
        ..
12691    5
12692    1
12693    6
12694    1
12695    1
Name: Min Nights, Length: 12696, dtype: object
0      2.0
1      2.0
2      3.0
3      2.0
4      3.0
      ...
696    4.0
697    3.0
698    2.0
699    2.0
700    2.0
Name: Accomodates, Length: 701, dtype: float64