In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
data_test=pd.read_csv('/Users/thomasvicaire/Desktop/cours cs/IA/project/data/test_airbnb_berlin.xls')
data_train=pd.read_csv('/Users/thomasvicaire/Desktop/cours cs/IA/project//data/train_airbnb_berlin.xls')

In [14]:
"""
data viz
"""

data_test.head(15)

# computing number of rows
rows = len(data_test.axes[0])
print('number row :',rows)
# computing number of columns
cols = len(data_test.axes[1])
print('number columns :',cols)

number row : 7842
number columns : 38

In [39]:
print(len(data_test.columns.values))

27

In [19]:
data_test.head(1)

,Listing ID,Listing Name,Host ID,Host Name,Host Since,Host Response Time,Host Response Rate,Is Superhost,neighbourhood,Neighborhood Group,...,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
0,13338017.0,*,19153032.0,Sonfron,15-06-2014,within a few hours,91%,t,Kreuzberg,Friedrichshain-Kreuzberg,...,05-05-2019,97.0,10.0,10.0,10.0,10.0,10.0,10.0,f,f

In [24]:
data_test=data_test.drop(['Listing Name', 'Host ID', 'Host Name', 'Host Since',
        'Country', 'First Review', 'Last Review','City', 'Postal Code','Country Code'], axis=1)

In [25]:
def missing(df):
    total = 0
    for col in df.columns:
        miss = df[col].isnull().sum()
        pct = df[col].isna().mean() * 100
        total += miss
        if miss != 0:
          print('{} => {} [{}%]'.format(col, df[col].isnull().sum(), round(pct, 2)))
    
    if total == 0:
        print("no missing values")
        
missing(data_test)

Listing ID => 1 [0.01%]
Host Response Time => 3534 [45.07%]
Host Response Rate => 3534 [45.07%]
Is Superhost => 11 [0.14%]
Bathrooms => 12 [0.15%]
Bedrooms => 4 [0.05%]
Beds => 3 [0.04%]
Square Feet => 7694 [98.11%]
Overall Rating => 1515 [19.32%]
Accuracy Rating => 1519 [19.37%]
Cleanliness Rating => 1518 [19.36%]
Checkin Rating => 1522 [19.41%]
Communication Rating => 1520 [19.38%]
Location Rating => 1522 [19.41%]
Value Rating => 1521 [19.4%]

In [27]:
data_test=data_test.drop(['Square Feet'], axis=1)

In [38]:
data_test['Listing ID'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
7837    False
7838    False
7839    False
7840    False
7841    False
Name: Listing ID, Length: 7842, dtype: bool