In [146]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [147]:
data_test=pd.read_csv('/Users/thomasvicaire/Desktop/cours cs/IA/project/data/test_airbnb_berlin.xls')
data_train=pd.read_csv('/Users/thomasvicaire/Desktop/cours cs/IA/project//data/train_airbnb_berlin.xls')

In [148]:
"""
data viz
"""

data_test.head(15)

# computing number of rows
rows = len(data_test.axes[0])
print('number row :',rows)
# computing number of columns
cols = len(data_test.axes[1])
print('number columns :',cols)

number row : 7842
number columns : 38

In [149]:
data_train.columns.values

array(['Listing ID', 'Listing Name', 'Host ID', 'Host Name', 'Host Since',
       'Host Response Time', 'Host Response Rate', 'Is Superhost',
       'neighbourhood', 'Neighborhood Group', 'City', 'Postal Code',
       'Country Code', 'Country', 'Latitude', 'Longitude',
       'Is Exact Location', 'Property Type', 'Room Type', 'Accomodates',
       'Bathrooms', 'Bedrooms', 'Beds', 'Square Feet', 'Guests Included',
       'Min Nights', 'Reviews', 'First Review', 'Last Review',
       'Overall Rating', 'Accuracy Rating', 'Cleanliness Rating',
       'Checkin Rating', 'Communication Rating', 'Location Rating',
       'Value Rating', 'Instant Bookable', 'Business Travel Ready',
       'Price'], dtype=object)

In [150]:
data_train.head(1)

,Listing ID,Listing Name,Host ID,Host Name,Host Since,Host Response Time,Host Response Rate,Is Superhost,neighbourhood,Neighborhood Group,...,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready,Price
0,19665213.0,*,156079597.0,Maximilian,2016-01-20,NaN,NaN,f,Prenzlauer Berg,Pankow,...,100.0,10.0,10.0,10.0,10.0,9.0,10.0,t,f,26.0

In [151]:
data_train=data_train.drop(['Listing Name', 'Host ID', 'Host Name', 'Host Since','Is Exact Location',
        'Country', 'First Review', 'Last Review','City', 'Postal Code','Country Code'], axis=1)

In [152]:
def missing(df):
    total = 0
    for col in df.columns:
        miss = df[col].isnull().sum()
        pct = df[col].isna().mean() * 100
        total += miss
        if miss != 0:
            print('{} => {} [{}%]'.format(col, df[col].isnull().sum(), round(pct, 2)))
        else:
            print('{} => {} '.format(col, 'no missing value'))
    
    if total == 0:
        print("no missing values")
        
missing(data_train)

Listing ID => 1 [0.01%]
Host Response Time => 7075 [45.09%]
Host Response Rate => 7075 [45.09%]
Is Superhost => 23 [0.15%]
neighbourhood => no missing value
Neighborhood Group => no missing value
Latitude => no missing value
Longitude => no missing value
Property Type => no missing value
Room Type => no missing value
Accomodates => no missing value
Bathrooms => 14 [0.09%]
Bedrooms => 5 [0.03%]
Beds => 8 [0.05%]
Square Feet => 15389 [98.07%]
Guests Included => no missing value
Min Nights => no missing value
Reviews => no missing value
Overall Rating => 2962 [18.88%]
Accuracy Rating => 2971 [18.93%]
Cleanliness Rating => 2970 [18.93%]
Checkin Rating => 2973 [18.95%]
Communication Rating => 2970 [18.93%]
Location Rating => 2971 [18.93%]
Value Rating => 2972 [18.94%]
Instant Bookable => no missing value
Business Travel Ready => no missing value
Price => 9 [0.06%]

In [153]:
data_train=data_train.drop(['Square Feet','Host Response Time','Host Response Rate'], axis=1)

In [154]:
for j in ['Price','Bathrooms','Bedrooms','Beds']:
    for i in data_train[data_train[j].isna()== True].index:
        data_train=data_train.drop(i, axis=0) #drop data where price is NaN

In [155]:
data_train[data_train['Is Superhost'].isna()==True]
data_train.loc[880,'Is Superhost']

nan

In [156]:
for i in data_train[data_train['Is Superhost'].isna()==True].index:
    if data_train.loc[i,'Overall Rating']>=80: 
        data_train.loc[i,'Is Superhost']='t'
    else :
        data_train.loc[i,'Is Superhost']='f'

In [157]:
data_train[data_train['Is Superhost'].isna()==True]

Empty DataFrame
Columns: [Listing ID, Is Superhost, neighbourhood, Neighborhood Group, Latitude, Longitude, Property Type, Room Type, Accomodates, Bathrooms, Bedrooms, Beds, Guests Included, Min Nights, Reviews, Overall Rating, Accuracy Rating, Cleanliness Rating, Checkin Rating, Communication Rating, Location Rating, Value Rating, Instant Bookable, Business Travel Ready, Price]
Index: []

[0 rows x 25 columns]

In [158]:
data_train.to_csv('data_train_clean.csv','../../data/',index=False)

TypeError: "delimiter" must be a 1-character string