In [1]:
import pandas as pd
from preprocess import pipeline, preprocess_x


data = pd.read_csv("../../data/train_airbnb_berlin.xls")
data = data.dropna(subset=["Price"]).reset_index(drop=True)

Y = data["Price"]
X = data.drop(columns=["Price"])


X_train = pipeline.fit_transform(X)

Neighborhood Group       0
Latitude                 0
Longitude                0
Property Type            0
Room Type                0
Accomodates              0
Bathrooms                0
Bedrooms                 0
Beds                     0
Guests Included          0
Min Nights               0
Reviews                  0
Overall Rating           0
Accuracy Rating          0
Cleanliness Rating       0
Checkin Rating           0
Communication Rating     0
Location Rating          0
Value Rating             0
Instant Bookable         0
Business Travel Ready    0
Price                    0
dtype: int64

In [2]:
data.head(5)

,Neighborhood Group,Latitude,Longitude,Property Type,Room Type,Accomodates,Bathrooms,Bedrooms,Beds,Guests Included,...,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready,Price
0,Pankow,52.54652,13.41792,Apartment,Private room,2,1.0,1.0,1.0,1,...,100.0,10.0,10.0,10.0,10.0,9.0,10.0,t,f,26.0
1,Pankow,52.56512,13.42214,Apartment,Entire home/apt,2,1.0,2.0,2.0,2,...,90.0,9.0,9.0,10.0,10.0,9.0,10.0,f,f,41.0
2,Pankow,52.54741,13.42521,Apartment,Entire home/apt,3,1.0,1.0,2.0,1,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,f,50.0
3,Friedrichshain-Kreuzberg,52.50958,13.45144,Apartment,Private room,2,1.0,1.0,1.0,1,...,100.0,10.0,10.0,10.0,10.0,10.0,9.0,f,f,50.0
4,Tempelhof - SchÃ¶neberg,52.44826,13.40608,Condominium,Private room,3,1.0,1.0,2.0,2,...,99.0,10.0,9.0,10.0,10.0,10.0,10.0,t,f,39.0

In [3]:
data.isna().sum()

Neighborhood Group       0
Latitude                 0
Longitude                0
Property Type            0
Room Type                0
Accomodates              0
Bathrooms                0
Bedrooms                 0
Beds                     0
Guests Included          0
Min Nights               0
Reviews                  0
Overall Rating           0
Accuracy Rating          0
Cleanliness Rating       0
Checkin Rating           0
Communication Rating     0
Location Rating          0
Value Rating             0
Instant Bookable         0
Business Travel Ready    0
Price                    0
dtype: int64

In [4]:
from utils import drop_useless
import numpy as np

data = drop_useless(data)

data = data.replace("*", np.nan)

# listfeatures = incomplete_columns(data, to_print=False)

KeyError: "['Listing ID' 'Listing Name' 'Host ID' 'Host Name' 'Host Since'\n 'Is Exact Location' 'Country' 'First Review' 'Last Review' 'City'\n 'Postal Code' 'Country Code' 'neighbourhood' 'Is Superhost'] not found in axis"

In [ ]:
from utils import drop_missing_too_high

data = drop_missing_too_high(data)

data["Property Type"] = np.where(
    data["Property Type"].isna(), "Apartment", data["Property Type"]
)

In [ ]:
data = data.dropna(
        subset=[
            'Accomodates',
            'Bathrooms',
            'Bedrooms',
            'Beds',
            'Guests Included',
            'Min Nights',
        ]
    )

obj = set(data.select_dtypes(["object"]).columns)
na = set(data.columns[data.isna().any()].tolist())
data = data.astype({x: "float64" for x in obj.intersection(na)})

data = data.dropna(subset=['Overall Rating', 'Accuracy Rating', 'Cleanliness Rating',
                            'Checkin Rating', 'Communication Rating', 'Location Rating', 'Value Rating']).reset_index(drop=True)

In [ ]:
data.isna().sum()

Neighborhood Group       0
Latitude                 0
Longitude                0
Property Type            0
Room Type                0
Accomodates              0
Bathrooms                0
Bedrooms                 0
Beds                     0
Guests Included          0
Min Nights               0
Reviews                  0
Overall Rating           0
Accuracy Rating          0
Cleanliness Rating       0
Checkin Rating           0
Communication Rating     0
Location Rating          0
Value Rating             0
Instant Bookable         0
Business Travel Ready    0
Price                    0
dtype: int64